<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-title">
      Frella App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Frella App</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-frella-presentation 
    name="Links úteis" 
    text="Lorem ipslum Lorem ipslum Lorem ipslum Lorem ipslum Lorem ipslum Lorem ipslum Lorem ipslum Lorem ipslum Lorem ipslum">
  
      <!-- Adicionando a lista e o link abaixo do texto -->
      <section class="info-section">
        <ul>
          <li>Psicologia</li>
        </ul>
        <a href="https://www.exemplo.com/remuneracao-psicologo" target="_blank">Remuneração do Psicólogo por Hora</a>
      </section>
  </app-frella-presentation>
</ion-content>
