<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calculator">
      <ion-icon name="calculator"></ion-icon>
      Calcular Hora
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Links úteis
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Pesquisar
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="chatbubble"></ion-icon>
      Fale Conosco
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
