<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-title">
      Calcular Valor da Hora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-grid" [ngClass]="{'inner-scroll-y': isDisabled}">
    <ion-row>
      <ion-col class="ion-col">
        <form (ngSubmit)="calcularValorHora()" class="form">
          <!-- Gastos Fixos -->
          <ion-item class="ion-item">
            <ion-label class="ion-label" position="floating">Gastos Fixos</ion-label>
            <ion-input 
              class="ion-input"
              type="number" 
              [(ngModel)]="gastosFixos" 
              name="gastosFixos" 
              aria-placeholder="Gastos fixos"
              required></ion-input>
          </ion-item>

          <!-- Gastos Variáveis -->
          <ion-item class="ion-item">
            <ion-label class="ion-label" position="floating">Gastos Variáveis</ion-label>
            <ion-input class="ion-input" type="number" [(ngModel)]="gastosVariaveis" name="gastosVariaveis" required></ion-input>
          </ion-item>

          <!-- Horas por Dia -->
          <ion-item class="ion-item">
            <ion-label class="ion-label" position="floating">Horas por Dia</ion-label>
            <ion-input class="ion-input" type="number" [(ngModel)]="horasPorDia" name="horasPorDia" required></ion-input>
          </ion-item>

          <!-- Dias por Semana -->
          <ion-item class="ion-item">
            <ion-label class="ion-label" position="floating">Dias por Semana</ion-label>
            <ion-input class="ion-input" type="number" [(ngModel)]="diasPorSemana" name="diasPorSemana" required></ion-input>
          </ion-item>

          <!-- Faturar por Mês -->
          <ion-item class="ion-item">
            <ion-label class="ion-label" position="floating">Faturar por Mês</ion-label>
            <ion-input class="ion-input" type="number" [(ngModel)]="faturarPorMes" name="faturarPorMes" required></ion-input>
          </ion-item>

          <div>
            <ion-label class="ion-label" position="floating">O valor mínimo é</ion-label>
            <ion-button class="btn" expand="block" type="submit">Calcular</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="valorHora !== null">
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Sua hora vale</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            R$ {{ valorHora | number:'1.2-2' }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
